<div
  *ngIf="!editMode || (vehicleObservable | async)"
  class="popup-container">
  <div class="popup">
      <div class="popup-title">
          <div 
            (click)="onCancel()"
            class="back-btn" 
            id="popup-back-btn">
            <i class="material-icons">clear</i>
          </div>
          <div *ngIf="!editMode" class="title-txt">Add Vehicle</div>
          <div *ngIf="editMode" class="title-txt">Edit Vehicle</div>
          <div
            (click)="onSave()"
            class="save-btn" 
            id="popup-save-btn">
            <i class="material-icons">save</i>
          </div>
      </div>
      <div *ngIf="invalidSaveAttempt" class="popup-warn">Enter a value for all required fields</div>
      <div class="popup-body">
        <form id="vehicle-edit" [formGroup]="vehicleForm">
          <div class="form-txt">General Info</div>
          <div class="break"></div>

          <div class="input-btn-container">
              <input 
                type="text" 
                id="vin" 
                formControlName="vin"
                placeholder="vin"
                #vin
                class="required"
                required>
              <button type="button" class="btn btn-primary btn-icon input-btn"><i class="material-icons">photo_camera</i></button>
          </div>
          <div *ngIf="vin.invalid && vin.touched" id="vin-warn" class="input-warn-text">Vin must be 17 characters long</div>
          <div class="break"></div>

          <input 
            type="text" 
            id="make" 
            placeholder="make"
            formControlName="make"
            class="required"
            required>
          <div class="break"></div>

          <input 
            type="text" 
            id="model" 
            placeholder="model"
            formControlName="model"
            class="required"
            required>
          <div class="break"></div>

          <select
            formControlName="year"
            id="year"
            required>
              <option value="" disabled [selected]="!vehicle">select model year</option>
              <option 
                *ngIf="vehicle?.year"
                [value]="vehicle?.year"
                selected>
                {{ vehicle?.year }}
              </option>
              <option 
                *ngFor="let year of getYears()"
                [value]="year">
                {{ year }}
              </option>
          </select>
          <div class="break"></div>

          <input
            type="text" 
            id="img-url" 
            placeholder="image url"
            formControlName="image"> 
          <div class="break"></div>

          <input 
            type="text" 
            id="license-plate" 
            placeholder="license plate"
            formControlName="licensePlate">
          <div class="break"></div>

          <div class="form-txt">Custom Info</div>
          <div class="break"></div>
          <div 
            *ngIf="!editMode || (vehicleObservable | async)"
            class="custom-info-fields"
            formArrayName="customInfos">
            <div
              *ngFor="let customInfoControl of customInfosControl; let i = index;"
              [formGroupName]="i"
              class="input-btn-container custom-info-field">
              <input 
                type="text" 
                formControlName="title" 
                placeholder="title">
              <input 
                type="text" 
                formControlName="info"
                placeholder="info">
              <button 
                (click)="onRemoveCustomInfoField(i)"
                type="button" 
                class="btn btn-warn-invert btn-icon input-btn">
                <i class="material-icons">remove</i>
              </button>
            </div>
          </div>
          <div class="break"></div>
          <button 
            (click)="onAddCustomInfoField()"
            type="button" 
            class="btn btn-secondary btn-icon input-btn" 
            id="add-custom-info-btn">
            <i class="material-icons">add</i>
          </button>
          <div class="break"></div>

        </form>
      </div>
  </div>
</div>