.fade-out {
  opacity: 0;
  transform: translateY(90px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
}

.dissolve {
  opacity: 0;
}

.slide-in-from-right {
  transform: translateX(-100vw);
}

@keyframes optionbar {
  from {
      transform: translateY(-50px);
  }

  to {
      transform: translateY(0px);
  }
}

@keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes growin {
  0% {
      opacity: 0;
      transform: scale(0.8);
      // animation: ease-out;
  }

  50% {
      opacity: 1;
      transform: scale(1.005);
      animation: ease-in-out;
  }

  75% {
      opacity: 1;
      transform: scale(0.999);
      animation: ease-in-out;
  }

  100% {
      opacity: 1;
      transform: scale(1);
      animation: ease-in-out;
  }
}

@keyframes growinFromBottom {
  from {
      opacity: 0;
      transform: translateY(90px);
  }

  to {
      opacity: 1;
  }
}

@keyframes growout {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
      transform: translateY(90px);
  }
}

@keyframes slideinRight {
  from {
      transform: translateX(100vw);
  }

  to {
      transform: translateX(0vw);
  }
}

@keyframes slideinBottom {
  from {
      transform: translateY(100vh);
  }

  to {
      transform: translateY(0vh);
  }
}

@keyframes growdown {
  from {
      transform: scaleY(0);
  }

  to {
      transform: scaleY(1);
  }
}

@keyframes wrenchSpin {
  0% {
      transform: rotate(-20deg);
      animation: ease-in-out;
  }

  60% {
      transform: rotate(780deg);
      animation: ease-in-out;
  }

  100% {
      transform: rotate(700deg);
      animation: ease-in;
  }
}