/* You can add global styles to this file, and also import other style files */
@import './partials/variables';
@import './partials/buttons';
@import './partials/animations';
@import './partials/cards';
@import './partials/forms';
@import './partials/lists';
@import './partials/popups';
@import './partials/toasts';


html {
  width: 100%;
}

body {
  font-family: var(--font);
  background-color: var(--primary-bg-color);
  font-size: var(--font-size);
  margin: auto;
  padding: 10px 10px 70px 10px;
  max-width: 800px;
  box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
  body {
    padding: 10px 10px 10px 90px;
  }

  .content {
    margin: auto;
  }

}

.page-frame {
  transition: transform 0.3s;
  position: relative;
  z-index: 5;

  .heading,
  .card,
  .vehicle-summary {
    z-index: inherit;
    animation: growin 0.7s;
  }
}

.heading {
  user-select: none;
  margin: 10px;
}
