<div class="page-frame">
  <h2 class="heading">Settings</h2>
  <div class="card-show">
    <div class="card setting">
      <div class="desc">Nothing to see here yet!</div>
      <div class="toggle">
        <div class="circle"></div>
      </div>
    </div>
    <div class="card setting">
      <div class="desc">Setting</div>
      <div class="toggle">
        <div class="circle"></div>
      </div>
    </div>
    <div class="card setting">
      <div class="desc">Do Nothing</div>
      <button class="btn btn-warn">Nothing</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>